@charset "utf-8";

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@ common.css @@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@ (PJ3_SMELLZ) @@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */



/*_*_*_*_*_* font-face(start)_*_*_*_*_*_*_*/

/* noto-sans-kr-regular - korean_latin */
@font-face {
	font-family: 'NotoSansKR';
		src: url('../font/noto-sans-kr-v36-korean_latin-regular.eot'); /* IE9 Compat Modes */
		src: url('../font/noto-sans-kr-v36-korean_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../font/noto-sans-kr-v36-korean_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
			url('../font/noto-sans-kr-v36-korean_latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
			url('../font/noto-sans-kr-v36-korean_latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
			url('../font/noto-sans-kr-v36-korean_latin-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - korean_latin */
@font-face {
	font-family: 'NotoSansKR-Medium';
		src: url('../font/noto-sans-kr-v36-korean_latin-500.eot'); /* IE9 Compat Modes */
		src: url('../font/noto-sans-kr-v36-korean_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../font/noto-sans-kr-v36-korean_latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
			url('../font/noto-sans-kr-v36-korean_latin-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
			url('../font/noto-sans-kr-v36-korean_latin-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
			url('../font/noto-sans-kr-v36-korean_latin-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-600 - korean_latin */
@font-face {
	font-family: 'NotoSansKR-SemiBold';
		src: url('../font/noto-sans-kr-v36-korean_latin-600.eot'); /* IE9 Compat Modes */
		src: url('../font/noto-sans-kr-v36-korean_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../font/noto-sans-kr-v36-korean_latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
			url('../font/noto-sans-kr-v36-korean_latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
			url('../font/noto-sans-kr-v36-korean_latin-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
			url('../font/noto-sans-kr-v36-korean_latin-600.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - korean_latin */
@font-face {
	font-family: 'NotoSansKR-Bold';
		src: url('../font/noto-sans-kr-v36-korean_latin-700.eot'); /* IE9 Compat Modes */
		src: url('../font/noto-sans-kr-v36-korean_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../font/noto-sans-kr-v36-korean_latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
			url('../font/noto-sans-kr-v36-korean_latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
			url('../font/noto-sans-kr-v36-korean_latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
			url('../font/noto-sans-kr-v36-korean_latin-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-800 - korean_latin */
@font-face {
	font-family: 'NotoSansKR-ExtraBold';
		src: url('../font/noto-sans-kr-v36-korean_latin-800.eot'); /* IE9 Compat Modes */
		src: url('../font/noto-sans-kr-v36-korean_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../font/noto-sans-kr-v36-korean_latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
			url('../font/noto-sans-kr-v36-korean_latin-800.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
			url('../font/noto-sans-kr-v36-korean_latin-800.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
			url('../font/noto-sans-kr-v36-korean_latin-800.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-900 - korean_latin */
@font-face {
	font-family: 'NotoSansKR-Black';
		src: url('../font/noto-sans-kr-v36-korean_latin-900.eot'); /* IE9 Compat Modes */
		src: url('../font/noto-sans-kr-v36-korean_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../font/noto-sans-kr-v36-korean_latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
			url('../font/noto-sans-kr-v36-korean_latin-900.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
			url('../font/noto-sans-kr-v36-korean_latin-900.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
			url('../font/noto-sans-kr-v36-korean_latin-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

/* anton-regular - latin */
@font-face {
    font-family: 'Anton';
    src: url('../font/anton-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../font/anton-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/anton-v25-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../font/anton-v25-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../font/anton-v25-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../font/anton-v25-latin-regular.svg#Anton') format('svg'); /* Legacy iOS */
  }







/*_*_*_*_*_* font-face(end)_*_*_*_*_*_*_*/



/*_*_*_*_*_* in-common(srart)_*_*_*_*_*_*_*/


body { font-family: NotoSansKR; }


section { position: relative; width: 100vw; }










/*_*_*_*_*_* in-common(end)_*_*_*_*_*_*_*/


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++  common.css ++++++++++++++++++++++++++++
+++++++++++++++++++  (PJ3_SMELLZ)  ++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/*_*_*_*_*_* mobile(start)_*_*_*_*_*_*_*/

@media screen and ( max-width: 767px ) {


	h2 { font-family: Anton; color: #F26835; font-size: 1.875em; width: 100%; text-align: center; padding: 10.41666vw 5.2083333vw 6.51041vw; }


    h1 > a { position: absolute; left: 3.6458333vw; top: 3.90625vw; width: 25vw; height: 12.5vw; display: inline-block; z-index: 110; }
    h1 > a > img { width: 100%; height: 100%; object-fit: cover; }

	header { overflow: hidden; position: fixed; left: 100vw; top: 0; bottom: 100vh; z-index: 105; width: 100vw; height: 100vh; transition: transform 0.2s; background: #F26835; color: #fff; font-size: 1.25em;  }


	header > button { position: fixed; top: 3.90625vw; right: 3.90625vw; display: block; width: 32px; height: 32px; transform: translateY(4px); background: url("../images/btn_menu.png") no-repeat center; background-size: 100%; z-index: 150; }
	header.on a.nav_logo { position: absolute; top: 3.90625vw; left: 3.6458333vw; display: block; width: 80px; height: 40px; background: url("../images/smellz_logo.png") no-repeat center; background-size: 100%; }

	
	header.on > button { display: none; }
    header.on { overflow: hidden; transform: translateX(-100%); background: #F26835; line-height: 80px; }
	header.on nav > ul { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; }
   	header.on nav > ul > li { text-align: center; display: block; color: #fff; font-family: 'Anton'; font-size: 1.5em; width: 100%; padding: 0 1.8229166vw; }
	header.on nav > ul > li > a { display: block; width: 100%; height: 100%; }

	

    header.on > div.utility { position: absolute; top: 3.90625vw; right: 3.6458333vw; width: 100%; height: 40px; text-align: right; z-index: 110; line-height: 40px; }
    header.on > div.utility > a.search { display: inline-block; width: 32px; height: 32px; transform: translateY(4px); background: url("../images/ico_serch.png") no-repeat center; background-size: 100%;  }
    header.on > div.utility > a.login { display: inline-block; width: 32px; height: 32px; transform: translateY(4px); background: url("../images/ico_login.png") no-repeat center; background-size: 100%; margin: 0 15px;  }
	header.on > div.utility a.btn_close { display: inline-block; width: 32px; height: 32px; transform: translateY(4px); background: url("../images/btn_close_m.png") no-repeat center; background-size: 100%;  }





    /*            footer            */

    footer { overflow: hidden; background: #F26835; color: #fff; padding: 50px 0; text-align: center; }

	div.inner_wrap { width: 100vw; margin: 0 auto; padding: 0 3.6458333vw; }
	div.footer_top {  width: 100%; }
	div.footer_top h3 { font-family: 'Anton'; font-size: 3em; margin-bottom: 20px; line-height: 1.2; }
	div.footer_top div.news { float: left; width: 100%; }
	input.email { width: 100%; margin: 0; padding: 0; border: 0; border-bottom: 1px solid #fff; color: #fff; background: none; outline: none; line-height: 1.5; }
	input.send { background: none; outline: none; border: none; color: #fff; transform: translate(690%, -1.25em); font-size: 1.25em; }

	::placeholder { color: #fff; }

	div.footer_top div.logo { display: inline-block; width: 100px; height: 50px; margin: 30px 0; }
	div.footer_top div.logo > a { display: block; width: 100%; height: 100%; background: url("../images/smellz_logo.png") no-repeat center; background-size: 100%; }

	div.footer_top div.contact { display: none; }


	div.footer_bottom { position: relative; }
	div.footer_bottom div.sns > a { display: inline-block; width: 20px; height: 20px; margin: 0 5px; }
	div.footer_bottom div.sns > a:nth-child(1) { background: url("../images/ico_facebook.png") no-repeat center; background-size: 100%; }
	div.footer_bottom div.sns > a:nth-child(2) { background: url("../images/ico_insta.png") no-repeat center; background-size: 100%; }
	div.footer_bottom div.sns > a:nth-child(3) { background: url("../images/ico_you.png") no-repeat center; background-size: 100%; }
	div.footer_bottom > div.esse { display: none; }




}



/*_*_*_*_*_* mobile(end)_*_*_*_*_*_*_*/


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++  common.css ++++++++++++++++++++++++++++
+++++++++++++++++++  (PJ3_SMELLZ)  ++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*_*_*_*_*_* tablet(start)_*_*_*_*_*_*_*/

@media screen and ( min-width: 768px ) and ( max-width: 1024px ) {


	header { overflow: hidden; width: 100vw; height: 100vh; position: absolute; }

	header .nav_logo { display: none; }

	header > nav > button { display: none; }
	h2 { font-family: Anton; color: #F26835; font-size: 3.125em; width: 100%; text-align: center; padding: 10.41666vw 5.2083333vw 6.51041vw; }

    h1 > a { position: absolute; left: 3.6458333vw; top: 3.90625vw; width: 15.625vw; height: 7.8125vw; display: block; z-index: 10; }
    h1 > a > img { width: 100%; height: 100%; object-fit: cover; }

    nav { overflow: hidden; position: fixed; bottom: 0; left: 0; width: 100vw; height: 80px; background: #F26835; z-index: 100;  text-align: center; line-height: 80px; }
    nav > ul > li { text-align: center; display: inline-block; color: #fff; font-family: 'Anton'; font-size: 1.5em; padding: 0 1.8229166vw; }

	

    header > div.utility { position: absolute; top: 3.90625vw; right: 3.6458333vw; width: 92.708333vw; height: 9.1145833vw; display: inline-block; z-index: 10; text-align: right; line-height: 70px;}
    header > div.utility > a.search { display: inline-block; width: 32px; height: 32px; background: url("../images/ico_serch.png") no-repeat center; background-size: 100%; }
    header > div.utility > a.login { display: inline-block; width: 32px; height: 32px; background: url("../images/ico_login.png") no-repeat center; background-size: 100%;margin-left: 20px; }





    /*            footer            */

    footer { overflow: hidden; background: #F26835; color: #fff; padding: 90px 0; }

	div.inner_wrap { width: 100vw; margin: 0 auto; padding: 0 3.6458333vw; }
	div.footer_top { display: table; width: 100%; margin-bottom: 50px; }
	div.footer_top h3 { font-family: 'Anton'; font-size: 3.5em; margin-bottom: 30px; }
	div.footer_top div.news { float: left; width: 50%; }
	input.email { width: 80%; margin: 0; padding: 0; border: 0; border-bottom: 1px solid #fff; color: #fff; background: none; outline: none; font-size: 1.5em;  }
	input.send { background: none; outline: none; border: none; color: #fff; transform: translateX(-1.5em); font-size: 1.5em; }

	::placeholder { color: #fff; }

	div.footer_top a { float: right; width: 200px; height: 100px; text-align: center; background: url("../images/smellz_logo.png") no-repeat center; background-size: 100%; margin-top: 59px; }

	div.footer_top div.contact { clear:both; padding-top: 50px; }
	div.contact p.cont { font-family: 'Anton'; font-size: 1.875em; margin-bottom: 20px; }
	div.contact p:nth-child(4) { margin-bottom: 20px; }
	

	div.footer_bottom { position: relative; }
	div.footer_bottom div.sns { position: absolute; left: 0; top: 0; }
	div.footer_bottom div.sns > a { display: inline-block; width: 24px; height: 24px; margin: 0 5px; }
	div.footer_bottom div.sns > a:nth-child(1) { background: url("../images/ico_facebook.png") no-repeat center; background-size: 100%; }
	div.footer_bottom div.sns > a:nth-child(2) { background: url("../images/ico_insta.png") no-repeat center; background-size: 100%; }
	div.footer_bottom div.sns > a:nth-child(3) { background: url("../images/ico_you.png") no-repeat center; background-size: 100%; }
	div.footer_bottom > div.esse { display: block; text-align: right; }
	div.footer_bottom > div.esse > a { padding: 0 20px; }



    
	

}


/*_*_*_*_*_* tablet(end)_*_*_*_*_*_*_*/

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++  common.css ++++++++++++++++++++++++++++
+++++++++++++++++++  (PJ3_SMELLZ)  ++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*_*_*_*_*_* desktop(start)_*_*_*_*_*_*_*/

@media screen and ( min-width: 1025px ) {

	.FI_grp { transition: transform 0.75s, opacity 0.75s; }

   .FI_grp[class ~= "fi_0"] { transform: translate(0, 0); opacity: 0; }
   .FI_grp[class ~= "fi_1"] { transform: translate(0, -50px); opacity: 0; }
   .FI_grp[class ~= "fi_2"] { transform: translate(50px, 0); opacity: 0; }
   .FI_grp[class ~= "fi_3"] { transform: translate(0, 50px); opacity: 0; }
   .FI_grp[class ~= "fi_4"] { transform: translate(-50px, 0); opacity: 0; }

   .FI_grp[class ~= "active"] { transform: translate(0, 0); opacity: 1; }

    h2 { font-family: Anton; color: #F26835; font-size: 3.125em; width: 100%; padding: 5.20833vw 5.2083333vw 3.125vw; }
	header > nav > button { display: none; }

	header .nav_logo { display: none; }

    h1 > a { position: absolute; left: 2.0833333vw; top: 1.0416666vw; width: 10.41666vw; height: 5.208333vw; display: block; z-index: 10; }
    h1 > a > img { width: 100%; height: 100%; object-fit: cover; }

    header { overflow: hidden; position: fixed; bottom: 0; left: 0; width: 100vw; height: 70px; background: #F26835; z-index: 100; }
    header > nav { position: fixed; left: 0; right: 0; bottom: 0; margin: auto; text-align: center; line-height: 70px; }
	header > nav > ul { height: 70px; }
    header > nav > ul > li { text-align: center; display: inline-block; color: #fff; font-family: 'Anton'; font-size: 1.875em; padding: 0 1.8229166vw; }
	header > nav > ul > li > a { line-height: 70px; }

    header > div.utility { position: absolute; top: 50%; right: 2.0833333vw; transform: translateY(-50%); display: inline-block; }
    header > div.utility > a.search { display: inline-block; width: 32px; height: 32px; background: url("../images/ico_serch.png") no-repeat center; background-size: 100%; }
    header > div.utility > a.login { display: inline-block; width: 32px; height: 32px; background: url("../images/ico_login.png") no-repeat center; background-size: 100%;margin-left: 20px; }





    /*            footer            */

    footer { overflow: hidden; background: #F26835; color: #fff; padding: 90px 0; }

	div.inner_wrap { width: 100vw; margin: 0 auto; padding: 0 10vw; }
	div.footer_top { display: table; width: 100%; margin-bottom: 100px; }
	div.footer_top h3 { font-family: 'Anton'; font-size: 3.5em; margin-bottom: 30px; }
	div.footer_top div.news { display: table-cell; width: 33.3333333%; }
	input.email { width: 80%; margin: 0; padding: 0; border: 0; border-bottom: 1px solid #fff; color: #fff; background: none; outline: none; font-size: 1.5em;  }
	input.send { background: none; outline: none; border: none; color: #fff; transform: translateX(-1.5em); font-size: 1.5em; }

	::placeholder { color: #fff; }

	div.footer_top a { display: table-cell; width: 250px; height: 125px; text-align: center; background: url("../images/smellz_logo.png") no-repeat center; background-size: 100%; }

	div.contact p.cont { font-family: 'Anton'; font-size: 1.875em; margin-bottom: 20px; }
	div.contact p:nth-child(4) { margin-bottom: 20px; }
	div.footer_top div.contact { display: table-cell;  width: 33.3333333%; }

	div.footer_bottom { position: relative; }
	div.footer_bottom div.sns { position: absolute; left: 0; top: 0; }
	div.footer_bottom div.sns > a { display: inline-block; width: 24px; height: 24px; margin: 0 5px; }
	div.footer_bottom div.sns > a:nth-child(1) { background: url("../images/ico_facebook.png") no-repeat center; background-size: 100%; }
	div.footer_bottom div.sns > a:nth-child(2) { background: url("../images/ico_insta.png") no-repeat center; background-size: 100%; }
	div.footer_bottom div.sns > a:nth-child(3) { background: url("../images/ico_you.png") no-repeat center; background-size: 100%; }
	div.footer_bottom > div.esse { display: block; text-align: center; }
	div.footer_bottom > div.esse > a { padding: 0 20px; }



}


/*_*_*_*_*_* desktop(end)_*_*_*_*_*_*_*/